# Created by https://www.gitignore.io/api/haskell

### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
_cache/
_site/
*.hi
*.o
*.swo
*.swp
*~
.DS_Store
TAGS
dist
tags
cabal.sandbox.config
.cabal-sandbox/
.stack-work

# Ignore test builds.
tests/Main
_cache
_store
_site

# Rest of the file: ignore examples
web/_cache
web/_site
web/site
web/reference
